*{
	padding: 0;
	margin: 0;
	color: #fff;
}

video {
	height: 100%;
	width: 100%;
	bottom: 0%;
	border:1px solid #000;
}
.content {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
	left: 0%; 
	top: 0%;

}
.name_Img{
	width: 35%;
	height: 10%;
}
.name_Mo {
	position: absolute;
	text-align: center;
	width: 99%;
	height: 10%;
	left: 0%; 
	top: 1%;
}
.description {
	position: absolute;
	right: 0%;
	bottom: 0%;
	width: 30%;
	height: 40%;
	background: rgba(0,0,0,65%);
	display: none;
}

.tr1{
	
	background: rgba(0,0,0,65%);
	height: 20%;
	
}
.description_menu{
	position: absolute;
	text-align: center;
	right: 0%;
	bottom: 0%;
	padding: 1%;
	background: rgba(0,0,0,65%);
}

